<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:jaxws="http://cxf.apache.org/jaxws"
  xmlns:cxf="http://cxf.apache.org/core"
  xmlns:context="http://www.springframework.org/schema/context"  
  xsi:schemaLocation="
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://cxf.apache.org/core  http://cxf.apache.org/schemas/core.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

  <context:property-placeholder location="file:///${catalina.base}/conf/ws-fsws-proxy.xml" />

  <import resource="classpath:META-INF/cxf/cxf.xml" />
  <!--import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" /-->
  <!--import resource="classpath:META-INF/cxf/cxf-servlet.xml" /-->

  <context:annotation-config />

  <jaxws:endpoint
    xmlns:studinfo="http://fsws.usit.no/schemas/studinfo"
    id="studinfoProxyService"
    implementor="#studinfoProxy"
    address="/studinfo"
    serviceName="studinfo:StudinfoService" 
    endpointName="studinfo:StudinfoPort"
  >
    <jaxws:inInterceptors>
      <ref bean="authorizationInterceptor"/>
    </jaxws:inInterceptors>
    <jaxws:properties>
      <entry key="mtom-enabled" value="true" />
    </jaxws:properties>
  </jaxws:endpoint>

  <jaxws:endpoint
    xmlns:cdm="http://fsws.usit.no/schemas/cdm"
    id="cdmProxyService" 
    implementor="#cdmProxy"
    address="/cdm" 
    serviceName="cdm:CdmService" 
    endpointName="cdm:CdmPort"
  >
    <jaxws:inInterceptors>
      <ref bean="authorizationInterceptor"/>
    </jaxws:inInterceptors>
    <jaxws:properties>
      <entry key="mtom-enabled" value="true" />
    </jaxws:properties>
  </jaxws:endpoint>

  <bean id="studinfoProxy" class="no.uis.fsws.proxy.impl.StudinfoProxyImpl">
    <property name="serviceFactory" ref="studinfoServiceFactory"/>
    <property name="executor" ref="studinfoExecutor"/>
  </bean>

  <bean id="cdmProxy" class="no.uis.fsws.proxy.impl.CdmProxyImpl">
  </bean>
  
  <bean id="studinfoExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolExecutorFactoryBean">
    <property name="daemon" value="true"/>
    <property name="maxPoolSize" value="1"/>
    <property name="threadNamePrefix" value="Studinfo-"/>
  </bean>
  
  <bean id="authorizationInterceptor" class="no.uis.fsws.proxy.impl.ProxySoapHeaderInterceptor">
    <property name="realm" value="UiS-WS"/>
    <property name="authorizer">
      <bean class="no.uis.fsws.proxy.impl.AuthorizeAllAuthorizer"/>
    </property>
  </bean>

  <bean id="studinfoServiceFactory" class="no.uis.fsws.proxy.impl.StudinfoServiceFactory">
    <property name="copyXml" value="true"/>
    <property name="fswsAddress" value="${fs.ws.studinfo.url}"/>
    <property name="transformerUrls">
      <map>
        <entry key="uis" value="classpath:fspreprocess-uis.xsl"/>
      </map>
    </property>
    <property name="xmlSourceParser" value="no.uis.fsws.studinfo.impl.SkippingAmpersandParser"/>
  </bean>
  
  <bean class="org.springframework.jmx.export.MBeanExporter">
    <property name="assembler">
      <bean
        class="org.springframework.jmx.export.assembler.MetadataMBeanInfoAssembler">
        <property name="attributeSource" ref="jmxAttributeSource" />
      </bean>
    </property>
    <property name="namingStrategy">
      <bean
        class="org.springframework.jmx.export.naming.MetadataNamingStrategy">
        <property name="attributeSource" ref="jmxAttributeSource" />
      </bean>
    </property>
    <property name="autodetect" value="true" />
  </bean>

  <bean id="jmxAttributeSource"
    class="org.springframework.jmx.export.annotation.AnnotationJmxAttributeSource" />
</beans>
